= dt_check_box(form, :private,  label: 'Private?') do
  = dt_help_icon('#private-dream-help')
/ = dt_select(form, :private,  label: 'Private?', \
/                           options: [['Yes', 1],['No', 0]]) do
/   = dt_help_icon('#hide-dream-help')
