<p class='label-line'><%= form.label :description, 'Describe your dream:' %></p>
<p class='input-line'><%= form.text_area :description %></p>
<p class='label-line'><%= form.label :tag_list, 'Tag your dream' %></p>
<p class='input-line'><%= form.text_field :tag_list, :class => 'text' %></p>
