<p class='label-line'><%= form.label :description, 'Describe Your Dream' %></p>
<p class='input-line'><%= form.text_area :description %></p>
<p class='label-line'><%= form.label :tag_list, 'Tag Your Dream' %></p>
<p class='help-line'>(Ex. falling, whales, hitchhikers-guide)</p>
<p class='input-line'><%= form.text_field :tag_list, :class => 'text' %></p>
