<% content_for :title do %>Forgot Password<% end -%>

<h2>Forgot Password</h2>

<% form_tag password_resets_path do %>
  <p class='help-line'>
    Enter your <strong>username</strong> or <strong>email address</strong> below.
    A message will be sent to your email inbox containing a link to change your password.
  </p>

  <p class='label-line'><%= label_tag :username_or_email %></p>
  <p class='input-line'><%= text_field_tag :username_or_email, params[:username], :class => 'text' %></p>

  <p class='button-line'><%= submit_tag "Reset Password", :class => 'submit' %></p>
<% end %>