<h2>Forgot Password</h2>

<% form_tag password_resets_path do %>
  <p class='help-line'>Fill out the form below and instructions to reset your password will be emailed to you:</p>
  <p class='label-line'><label for='email'>Email</label></p>
  <p class='input-line'><%= text_field_tag "email" %></p>
  <p class='button-line'><%= submit_tag "Reset Password", :class => 'submit' %></p>
<% end %>