# bundler branch artifacts
bin/
vendor/bundler_gems/

# other ignorables
log/*
db/*.sqlite3
coverage.data
tmp/*
coverage/*
webrat-*.html
*.tmproj
config/database.yml
*_packaged.css
*_packaged.js
config/configatron/development/credentials.rb
config/configatron/production/credentials.rb
db/seeds/dreamtagger-export.json
.DS_Store
