p We've got an account waiting for you at DreamTagger!
p Open this link in your web browser and sign in to start recording your dreams!
p = @edit_activation_url
p Your account will expire in 30 days if you do not activate it.
p See you soon!
