<p>We've got an account waiting for you at DreamTagger!</p>

<p>Open this link in your web browser and sign in to start recording your dreams!</p>

<p><%= @edit_activation_url %></p>

<p>Your account will expire in 30 days if you do not activate it.</p>

<p>See you soon!</p>
