p You're receiving this e-mail because you requested to reset your password for your account at DreamTagger.
p Open this link in your web browser to reset your password:
p = @edit_password_reset_url
p Your username, in case you've forgotten: #{@user.username}
