body {
  background: #424242 url(../images/moonset-bg.png) repeat-x scroll top left;
  color: #333;
}
a { color: #633; text-decoration: none; }
a:hover { text-decoration: underline; }
#horizon {
  background: transparent url(../images/moonset.png) no-repeat scroll 0px 0px;
}
#wrapper {
  background-color: transparent;
  width: 360px;
  margin: 0 0 10px 426px;
  padding: 0;
}

/* message box styles */
#messages {
  background-color: #FFFAFA;
  color: #333;
  margin: 0 0 10px;
  padding: 5px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#messages .clear-message { text-align: right; font-size: 0.85em; text-decoration:underline; }
ul.message-list { padding: 4px; }
ul.message-list {
  list-style: none;
  font-style: italic;
  color: #333;
  margin: 0px;
  padding: 0px;
}
ul.message-list li {
  margin: 0px;
  padding: 0px;
}
ul.message-list .notice-message { color: #080; }
ul.message-list .error-message { color: #800; }

/* content styles */
#content {
  background-color: #FFFAFA;
  color: #333;
  min-height: 429px;
  border:none;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content h2 {
  border-bottom: 1px solid #999;
}

/* menu styles */
#menu .link-list {
  background: transparent;
  color: #FFFAFA;
  margin: 0;
  padding: 4px 0;
  text-align: center;
}
#menu .link-list a { background: transparent; color: #FFFAFA; letter-spacing:0.1em; }
#menu .link-list li { display: inline; margin: 0; padding: 10px; }

/* footer styles */
#footer { margin-top:10px; }
#footer .link-list {
  background: #FFFAFA;
  color: #333;
  margin: 0;
  padding: 4px 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
}
#footer .link-list a {
  background: #FFFAFA;
  color: #333;
  letter-spacing:0.1em;
}
#footer .link-list li { display: inline; margin: 0; padding: 10px; }

/* form styles */
form { width: 340px; margin: 0px auto; padding: 0px; }
form p { margin: 0; padding: 0; }
form .label-line label { display: block; margin: 3px 0; font-weight: bold; }
textarea { width: 330px; margin: 3px 0; padding: 5px; }
#id_tags, input.text, input.password { width: 326px; margin: 3px 0; padding: 5px; }
input.submit { margin: 3px 0; }

form .help-line { color: #555; }
form .form-errors { padding-left: 20px; }
form .error-line { color: #800; }
form .button-line { text-align: right; }

/* dream styles */
ul.dream-list {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}
ul.dream-list li {
  border-bottom: 3px double #633;
  margin: 10px 0 30px;
  padding: 0 0 30px;
}
ul.dream-list li p {
  margin: 15px 0;
}
.dream-tags {
  clear: right;
  padding: 4px;
  border: 1px solid #999;
  border-left: 1px solid #999;
}
.dream-tags a.add-tags { font-size: 0.9em; }
.dream-user {
  font-size: 0.9em;
  padding: 0 4px 4px;
  margin: 0 0 4px 4px;
  text-align: right;
  float: right;
}
.dream-actions {
  text-align: center;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 4px 0 0;
  padding: 4px 0px;
}
.dream-actions a { text-decoration: none; }
.dream-actions a:hover { text-decoration: underline; }
.results-meta, .results-nav { text-align:center; }
.tag-link { margin-right: 6px; }
