body {
  margin: 0;
  padding: 0;
  background-color: #840;
  color: #FFF;
  font: 85% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
h1,h2,h3,h4,h5,h6,p { margin: 6px 0; }
h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

#wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFF;
  color: #333;
}
#content {
  padding: 10px;
}
#messages { }

#footer .link-list,
#menu .link-list {
  background-color: #333;
  color: #FFF;
  margin: 0;
  padding: 4px 0;
}
#footer .link-list a,
#menu .link-list a { color: #FFF; }
#footer .link-list li,
#menu .link-list li {
  display: inline;
  margin: 0;
  padding: 10px;
}

form { width: 360px; margin: 0px auto; padding: 0px;}
form p { margin: 0; padding: 0; }
form .label-line label { display: block; margin: 3px 0; font-weight: bold; }
textarea { width: 340px; margin: 3px 0; }
#id_tags, input.text, input.password { width: 336px; margin: 3px 0; }
input.submit { margin: 3px 0; }

.errorlist { padding: 0px; }
.errorlist li {
  color: #800;
  list-style-position: inside;
}
.error-line { color: #800; }
.help-line { color: #555; font-size: 0.9em; }
.tag-link { margin-right: 6px; }