<% content_for :title do %>Edit My Account<% end -%>

<h2>Edit My Account</h2>
 
<% form_for @user, :url => account_path do |f| %>
  <%= render_form_errors(@user.errors) %>
  <%= render :partial => "form", :object => f %>
  <p class='button-line'><%= f.submit "Update", :class => 'submit' %></p>
<% end %>
 
<p><%= link_to "My Profile", account_path %></p>
