<% content_for :title do %>Create an Account<% end -%>

<h2>Create an Account</h2>
 
<% form_for @user, :url => account_path do |f| %>
  <%= render_form_errors(@user.errors) %>
  <%= render :partial => "form", :object => f %>
  <p class='button-line'><%= f.submit "Register Account", :class => 'submit' %></p>
<% end %>

<%= render :partial => "shared/session_links" %>
