<% content_for :title do %>Request Activation Key<% end -%>

<h2>Request Activation Key</h2>

<%= form_tag activations_path do %>
  <p class='help-line'>
    Enter your <strong>username</strong> or <strong>email address</strong> below.
    A message will be sent to your email inbox containing a link to activate your account.
  </p>

  <p class='label-line'><%= label_tag :username_or_email %></p>
  <p class='input-line'><%= text_field_tag :username_or_email, params[:username], :class => 'text' %></p>

  <p class='button-line'><%= submit_tag "Send Activation Email", :class => 'submit' %></p>
<% end %>
