<p class='tag-cloud'>
  <% if !tag_cloud.blank? %>
    <%-
      max_count = tag_cloud.map{|i|i['tag_count'].to_i}.max
      min_count = tag_cloud.map{|i|i['tag_count'].to_i}.min
    -%>
    <% for cloud_item in tag_cloud.shuffle %>
      <%= link_to cloud_item['tag_name'], tag_dreams_path(cloud_item['tag_name']),
      :class => 'tag-link',
      :style => cloud_style(cloud_item['tag_count'].to_i, min_count, max_count, options = {}),
      # :style => "font-size:#{(cloud_item['tag_count'].to_i + 10).to_s}px",
      :title => "Show recent dreams with tag: #{cloud_item['tag_name']}" %>
    <% end %>
  <% else %>
    <%= link_to 'untagged', untagged_dreams_path, :class => 'tag-link', :title => "Show dreams without tags" %>
  <% end %>
</p>
