<h3>Login Button</h3>
<fb:login-button v="2" size="small">Find Friends</fb:login-button>

<h3>Profile Pic</h3>
<fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic>

<h3>Facebook Name</h3>
<fb:name uid="loggedinuser" useyou="false" linked="true"></fb:name>

<h3>Facebook Friends</h3>
<div id="profile_pics"></div>

<h3>Share Button</h3>
<fb:share-button class="url" href="http://www.dreamtagger.com" type="button_count"></fb:share-button>

<h3>Comments</h3>
<fb:comments> </fb:comments>

<h3>Fan Box</h3>
<fb:fan profile_id="350262900480" stream="0" connections="10" width="300"></fb:fan>
<div style="font-size:8px; padding-left:10px"><a href="http://www.dreamtagger.com">DreamTagger</a> on Facebook</div>

<h3>Live Stream Box</h3>
<fb:live-stream event_app_id="350262900480" xid="YOUR_EVENT_XID" width="300" height="500"></fb:live-stream>

<h3>Stream Publish</h3>
<input type="button" onclick="callPublish('',{'name':'Follow My Dreams on DreamTagger','href':'http://www.dreamtagger.com/users/subakva','description':'This is a test.'},[{'text':'Subscribe','href':'http://www.dreamtagger.com/users/subakva.atom'}]);return false;" value="Preview Dialog" />

<% content_for :script do -%>
  <%= render :partial => 'shared/fbml_loader' %>
  <script type="text/javascript">
  // <!--
  function callPublish(msg, attachment, action_link) {
    FB.ensureInit(function () {
      FB.Connect.streamPublish('', attachment, action_link);
    });
  }

  $(function(){
    var widget_div = document.getElementById("profile_pics");
    FB.ensureInit(function () {
      FB.Facebook.get_sessionState().waitUntilReady(function() {
      FB.Facebook.apiClient.friends_get(null, function(result) {
        var markup = "";
        var num_friends = result ? Math.min(5, result.length) : 0;
        if (num_friends > 0) {
          for (var i=0; i<num_friends; i++) {
            markup +=
              '<fb:profile-pic size="square" uid="'+result[i]+'" facebook-logo="true"></fb:profile-pic>';
          }
        }
        widget_div.innerHTML = markup;
        FB.XFBML.Host.parseDomElement(widget_div);
      });
      });
    });
  });
  // -->
  </script>
<% end -%>
