<% content_for :title do %>Terms &amp; Conditions<% end -%>

<h2>Terms and Conditions</h2>

<h3>By registering for this site, you agree that...</h3>
<ul>
  <li>
    you are at least 13 years of age.
  </li>
  <li>
    you understand that any content you add to this site may be used for promotional purposes within the
    context of the site at any time, and without obtaining any additional permission.
  </li>
</ul>
