<% content_for :title do %>Zeitgeist<% end -%>

<h2>Dream Zeitgeist</h2>

<h3>Today's Popular Tags</h3>
<div id='zeitgeist-today'>
  <%= render :partial => "shared/tag_cloud", :object => @cloud_for_today %>
</div>

<h3>Overall Most Popular Tags</h3>
<div id='zeitgeist-overall'>
  <%= render :partial => "shared/tag_cloud", :object => @cloud_for_all_time %>
</div>
