<p>
  Add tags to describe the <strong>context</strong> of your dream here.
  Think about factors in your real life that may have affected the dream and come up with some words or phrases that describe it.
</p>
<ul>
  <li>Where were you sleeping?</li>
  <li>What did you eat before going to bed?</li>
  <li>Are you anxious about something?</li>
</ul>

<h4>Examples</h4>
<p>
  If you were at home and just watched a scary movie:<br/>
  <code>at-home, scary-movie</code>
</p>
<p>
  If you were pregnant, just ate some Indian food and fell asleep in a hammock, you might use these tags:<br/>
  <code>in a hammock, spicy food, pregnancy</code>
</p>
