doctype 5
html
  head
    - page_title = content_for?(:title) ? yield(:title) : 'DreamTagger'
    title = page_title
    - if @link_alternate
      link rel="alternate" type="application/atom+xml" title="#{page_title}" href="#{@link_alternate}"

    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', media: 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie'

  body id=(controller.controller_name) class=(controller.action_name)
    #horizon
      #wrapper
        #menu
          ul.link-list
            li = link_to "Home", root_path
            li = link_to "Add", new_dream_path
            - if current_user
              li = link_to "Your Dreams", account_path
              li = link_to "Sign Out", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"
            - else
              li = link_to "Sign In", new_user_session_path
              li = link_to "Register", new_account_path

        - if flash[:notice] || flash[:error]
          #messages
            ul.message-list
              - if flash[:notice]
                li.notice-message = flash[:notice]
              - elsif flash[:error]
                li.error-message = flash[:error]
            .clear-message
              = link_to "Clear Message", '#', :title => 'Remove this message from the page.', :class => 'clearMessage'

        #content = yield

        #footer
          ul.link-list
            li = link_to "About", about_path, :title => 'More information about this site'
            li = link_to "Feeds", feeds_path, :title => 'An explanation of the feeds available for this site.'
            - if false && current_user
              li = link_to "Invite", 'new_invite_path', :title => 'Invite your friends to join.'
            li = link_to "Terms", terms_path, :title => 'The terms and conditions for use of this site.'

    = javascript_include_tag 'application'
    = yield :script

    = render :partial => 'shared/tracking'
